@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  font-family: "Raleway", serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "Pacifico", serif;
}

#primary {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.section-cta {
  width: 35%;
  text-align: left;
  margin: 3.5%;
  font-size: 18px;
  line-height: 1.2;
}

button {
  border-radius: 30px;
  height: 50px;
  width: 100px;
  background-color: #ffebcc;
  border: #FFEBBC;
  color: black;
}

#menu {
  background-color: #FFAFAF;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  color: white;
}

#orderNow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.menu-cta{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  
}

ul li {
  list-style: none;
}

.menu-items img{
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
}


footer {
  background-color: #FFAFAF;
}

#orderForm {
  background-color: #FFAFAF;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  color: white;
}

input{
  border-radius: 15px;
  height: 30px;
  border: #FFAFAF;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
textarea{
  border-radius: 15px;
  height: 90px;
  border: #FFAFAF;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
