@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Raleway:wght@200&display=swap");

* {
  font-family: "Raleway", serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 60px;
}
#primary {
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
} 

.section-cta{
    width: 35%;
    text-align: left;
    margin: 3.5%;
    font-size: 18px;
    line-height: 1.2;
}

#menu{
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    color: white;
}

#orderNow{
    border: 0.2rem solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

#orderForm{
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    color: white;
}